* {
    transition: all 250ms;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
}

.btnControl {
    width: 80px;
    height: 40px;
    background-color: #252e3d;
    opacity: 0.8;
    border-radius: 5px;
    border-style: none;
    color: #fff;
    cursor: pointer;
    font-size: 20px; /* Tamanho maior para o ícone */
}

.btnControl:hover {
    background-color: #25344D;
    opacity: 1;
}

/* Barra de progresso e exibição de tempo lado a lado */
.progressWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 15px;
}

.progressContainer {
    width: 400px; /* Ajustando o tamanho da barra */
    height: 15px;
    background-color: rgba(255, 255, 255, 0.3); /* Leve opacidade */
    cursor: none; /* Inicialmente não manipulável */
}

.progressBar {
    height: 100%;
    width: 0;
    background-color: #0055d2; /* Cor da barra */
    opacity: 0.7; /* Opacidade da barra */
}

/* Exibição de tempo */
.timeDisplay {
    color: white;
    font-size: 16px;
    margin-left: 10px; /* Espaço entre a barra e o tempo */
}

.controlWrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

.aulaControls {
    display: flex;
    align-items: center;
    position: relative; /* Necessário para posicionar a notificação em relação a este contêiner */
}

.toast {
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
    z-index: 10;
    display: inline-block;
    position: absolute;
    bottom: 70px;
    width: 250px;
}

.toast::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    border-width: 10px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.7) transparent transparent transparent;
}